.container {
  max-width: 1400px;
  margin: 0 auto;
}

.cardsCard {
  position: sticky;
  top: 24px;
  height: fit-content;
}

@media (max-width: 768px) {
  .cardsCard {
    position: static;
  }
}
